<div class="container-fluid">
    <div style="display:none">
        <div id="labTestPrintView" *ngIf="patServices.length>0">
            <div class="wrapper">
                <div class="container-fluid">
                    <img alt="" src="../../../../assets/images/ora/header.png" style="height: 80px;width: 95%;margin: auto;">
                </div>
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <table style="direction: ltr;" class="full-width" *ngIf="testData?.length != 0">
                    <thead>
                        <th>
                            <table style="width: 100%;">
                                <thead style="direction: rtl; ">
                                    <tr>
                                        <!-- <div style="direction: rtl;" width="15%">
                                            <img alt="" src="../../../../assets/images/ora/logo.png"
                                                style="height: 90px;margin-bottom: -90px;">
                                        </div> -->
                                        <td width="30%" class="groupHeaderDataCell_ar">{{patientData?.patientNameAr}}
                                        </td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">إسم المريض</strong>
                                        </td>
                                        <td width="30%" class="groupHeaderDataCell_ar">{{patientData?.patientAge }}</td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">العمر </strong>
                                        </td>
                                        <!-- <td width="15%">
                                        </td> -->

                                    </tr>
                                    <!---------------------------------------------------------------------------------->
                                    <tr>

                                        <td width="30%" class="groupHeaderDataCell_ar">{{patientData?.doctorNameAr}}
                                        </td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">الطبيب</strong>
                                        </td>
                                        <td width="30%" class="groupHeaderDataCell_ar">{{patientData?.patCode}}</td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">الرقم الطبى</strong>
                                        </td>
                                        <!-- <td width="15%"> <strong style="text-decoration: underline;"> </strong>
                                        </td> -->
                                    </tr>
                                    <!---------------------------------------------------------------------------------->
                                    <tr>
                                        <td width="30%" class="groupHeaderDataCell_ar">
                                            {{patientData?.orderDate|date: 'dd/MM/yyyy-hh:mm:ssa'}}
                                        </td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">تاريخ الطلب</strong>
                                        </td>
                                        <td width="30%" class="groupHeaderDataCell_ar">{{patientData?.orderNumber}}</td>
                                        <td width="20%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">رقم الطلب</strong>
                                        </td>
                                        <!-- <td width="15%"> <strong style="text-decoration: underline;"> </strong>
                                        </td> -->
                                    </tr>

                                    <!---------------------------------------------------------------------------------->
                                    <tr>

                                        <td width="25%" class="groupHeaderDataCell_ar">{{patientData?.OrderPlace}}</td>
                                        <td width="17.5%" class="groupHeaderLabelCell_ar">
                                            <strong style="text-decoration: underline;">رقم المعمل </strong>
                                        </td>
                                        <td width="25%" class="groupHeaderDataCell_ar">
                                            {{patientData?.resultWriteDate | date:'dd/MM/yyyy-hh:mm:ssa ' }}
                                            <td width="17.5%" class="groupHeaderLabelCell_ar">
                                                <strong style="text-decoration: underline;">تاريخ النتيجه</strong>
                                            </td>
                                            <!-- <td width="15%"> <strong style="text-decoration: underline;"> </strong>
                                        </td> -->
                                    </tr>

                                    <!---------------------------------------------------------------------------------->
                                </thead>
                            </table>
                        </th>
                    </thead>

                    <tbody style="direction: ltr; ">
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr *ngFor="let LabCtg of LabSheetCtg; let serv = index" style="font-size: 14px;">
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td  colspan="5" >
                                                                <h5 style="color:dodgerblue; text-align: center;">
                                                                    <p style="margin-bottom: 16px;" *ngIf="LabCtg['labSheetCtgDescEn']">
                                                                        {{LabCtg['labSheetCtgDescEn'] | titlecase}}:
                                                                    </p>
                                                                </h5>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h4 *ngIf="serv==0 " style="color:gray;text-decoration: underline;">
                                                                    TestName </h4>
                                                            </td>

                                                            <td colspan="2" style="width: 25%;">
                                                                <h5 *ngIf="serv==0 " style=" color:gray; text-decoration: underline;">
                                                                    Result:</h5>
                                                            </td>
                                                            <td style="width: 20%;">
                                                                <h5 *ngIf="serv==0 " style="color:gray; text-decoration: underline;">
                                                                    Unit:
                                                                </h5>
                                                            </td>
                                                            <td style="width: 25%;">
                                                                <h5 *ngIf="serv==0" style=" color:gray; text-decoration: underline;">
                                                                    Reference Range :
                                                                </h5>
                                                            </td>
                                                        </tr>
                                                        <!-- <ng-template ngFor let-LabCtg [ngForOf]="LabService.LabSheetCtg"
                                                            let-i="index"> -->
                                                       

                                                        <ng-template ngFor let-sheet [ngForOf]="testData" let-w="index">

                                                            <tr style="font-size: 14px;" *ngIf="sheet.sheetVisiable && LabCtg.labSheetCtgCode == sheet.labSheetCtgCode ">
                                                                <td colspan="" width="30%" style="padding:0">
                                                                    <span style="text-align: center;">
                                                                        <b> => {{sheet.sheetNameEn}}</b>
                                                                    </span>
                                                                </td>
                                                                <td colspan="" width="20%" style="padding:0">
                                                                    <span style="text-align: center;">
                                                                        <b
                                                                            [style.color]="sheet.abnormality == 1 ||sheet.abnormality == 2 ?'red':''">
                                                                            <ng-container
                                                                                *ngIf="sheet.itemType != 3 && sheet.sheetValue">
                                                                                {{sheet.resultValue}}
                                                                            </ng-container>
                                                                            <ng-container *ngIf="sheet.itemType == 3">
                                                                                {{sheet.sheetOptionAr}}
                                                                            </ng-container>
                                                                        </b>
                                                                    </span>
                                                                </td>
                                                                <td width="5%">
                                                                    <span *ngIf="sheet.abnormalityLvl=='L'">
                                                                        <i style="color: red;" class="fas fa-arrow-down"
                                                                            aria-hidden="true"></i>
                                                                    </span>
                                                                    <span *ngIf="sheet.abnormalityLvl=='H'">
                                                                        <i style="color: red;" class="fas fa-arrow-up"
                                                                            aria-hidden="true"></i>
                                                                    </span>

                                                                </td>
                                                                <td colspan="" width="20%">
                                                                    <span style="text-align: center;">
                                                                        <b>{{sheet.unitNameAr}}</b>
                                                                    </span>
                                                                </td>
                                                                <td colspan="" width="30%">
                                                                    <span style="text-align: center;">
                                                                        <pre>{{sheet.refValue}}</pre>
                                                                    </span>
                                                                </td>
                                                                <!-- <td colspan="">
                                                                          <ul *ngIf="sheet['comments'] && sheet['comments'].length > 0">
                                                                            <li *ngFor="let comment of sheet.comments">
                                                                              <small>{{comment.commentDescEn}}</small>
                                                                            </li>
                                                                          </ul>
                                                                        </td>  -->
                                                            </tr>
                                                        </ng-template>
                                                        <!-- </ng-template> -->




                                                    </tbody>
                                                </table>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <ul class="list-group" *ngIf="serviceComment.length > 0">
                                    <li class="list-group-item active">Comments:</li>
                                    <li class="list-group-item" *ngFor="let comment of serviceComment">
                                        <!-- <span *ngIf="service.regPatServiceSerial == comment.regPatServiceSerial">{{comment.nameEn}}</span> -->
                                        <span>{{comment.nameEn}} {{ comment.commentAsText}} </span>
                                    </li>
                                </ul>
                                <!---------------------------------------------------------------------------->
                            </td>
                        </tr>
                        <tr *ngIf="printhistory" [style]="{'width': '100%'}" style="font-size: 14px;">
                            <td colspan="2">
                                <span>
                                    Service history
                                    <!-- {{'SERVHISTORY'|translate}} -->
                                </span>
                                <table class="full-width" [style]="{'width': '100%'}">
                                    <thead colspan="2">
                                        <tr style="font-size: 14px;">
                                            <!-- <th rowspan="2" class="groupHeaderLevel1_ar" [style]="{'width': '10%'}">
                            {{'SERVICENAME'}}
                          </th> -->
                                            <th rowspan="2" class="groupHeaderLevel1_ar" [style]="{'width': '10%'}">
                                                {{'DATE'|translate}}
                                            </th>
                                            <th [attr.colspan]="getColspan(headersLev1)" class="groupHeaderLevel1_ar" *ngFor="let headersLev1 of HistoryArr.headersLev1">
                                                {{headersLev1['serviceNameAr']}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <ng-template ngFor let-headersLev1 [ngForOf]="HistoryArr.headersLev1">
                                                <ng-template ngFor let-headersLev2 [ngForOf]="HistoryArr.headersLev2">
                                                    <th class="groupHeaderLevel1_ar" *ngIf="headersLev2['serviceCode']==headersLev1['serviceCode']">
                                                        {{headersLev2['sheetNameAr']}}
                                                    </th>
                                                </ng-template>
                                            </ng-template>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let sheetrow of HistoryArr.rows" style="font-size: 14px;">
                                            <!-- <td class="detailBand_ar" [style]="{'width': '10%'}">
                            {{sheetrow['serviceNameAr']}}
                          </td> -->
                                            <td class="detailBand_ar" [style]="{'width': '10%'}">
                                                {{sheetrow['resultWriteDate']| date :'dd/MM/yyyy'}}
                                                <!-- {{sheetrow['regPatServiceSerial']}}  -->
                                            </td>
                                            <td class="detailBand_ar" *ngFor="let el of HistoryArr.headersLev2; let i=index">
                                                {{HistoryArr.hashMap[sheetrow['resultWriteDate']+'_'+ el['sheetNameAr']]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="container-fluid">
                    <img alt="" src="../../../../assets/images/ora/footer.png" style="height: 80px;width: 95%;margin: auto;">
                </div>

            </div>



        </div>


    </div>
    <app-print-page #printComponent section="labTestPrintView" [includefontAwsom]='true' (click)="PrintedCount()">
    </app-print-page>
</div>