<DIV>
    <!-- <div *ngIf="PrintViewType==1">
        <LabTestPrintView1></LabTestPrintView1>
    </div>
    <div *ngIf="PrintViewType==2">
        <app-lab-test-print></app-lab-test-print>
    </div>
    <div *ngIf="PrintViewType==3">
        <LabTestPrintView3></LabTestPrintView3>
    </div>

    <div *ngIf="PrintViewType==4">
        <app-lab-test-covid-print></app-lab-test-covid-print>
    </div> -->

    <!-- <div *ngIf="PrintViewType==5"> -->
        <LabTestPrintView4></LabTestPrintView4>
    <!-- </div> -->
</DIV>
