<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6 col-12">

      <div class="card">
        <div>
          <h5 class="page-title">{{"SETPASSWORD" | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="">

            <form [formGroup]="patientForm" autocomplete="off" [matchValue]="['newPassword', 'confirmPassword']">

              <label>{{'CURRENTPASSWORD'|translate}}</label>
              <div class="form-group pass_show">
                <input type="password" #current (keyup)="MatchConfirom(current.value,originalPassword)"
                  formControlName="currentPassword" class="form-control" placeholder="كلمه المرور الحاليه">
                <span class="ptxt fa fa-lg" [ngClass]="{'fa-eye': !showCurrent, 'fa-eye-slash': showCurrent}"
                  (click)="changeVisiblity(current, 1)"></span>
              </div>

              <label>{{'CURRENTPASSWORD'|translate}}</label>
              <div class="form-group pass_show">
                <input type="password" #new formControlName="newPassword" class="form-control"
                  placeholder="كلمه المرور الجديده">
                <span class="ptxt fa fa-lg" [ngClass]="{'fa-eye': !showNew, 'fa-eye-slash': showNew}"
                  (click)="changeVisiblity(new, 2)"></span>
              </div>

              <label>{{'CONFIRMNEWPASSWORD'|translate}}</label>
              <div class="form-group pass_show">
                <input type="password" #confirm formControlName="confirmPassword" class="form-control"
                  placeholder="تاكيد كلمه المرور الجديده">
                <span class="ptxt fa fa-lg" [ngClass]="{'fa-eye': !showConfirm, 'fa-eye-slash': showConfirm}"
                  (click)="changeVisiblity(confirm, 3)"></span>
              </div>

              <btns-ctrl [disabled]="patientForm.invalid" [appCodes]="[1]" (clicked)="onClicked($event)">
              </btns-ctrl>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
