.pass_show {
    position: relative
}

.pass_show .ptxt {
    position: absolute;
    top: 60%;
    left: 10px;
    z-index: 1;
    color: #607D8B;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass_show .ptxt:hover {
    color: #333333;
}
.page-title{
  font-size: 18px;
  font-weight: 600;
  padding: 7px 0px;
  color: #178374;
  margin-bottom: 15px;
}
 label, .form-group label, div>label, form>label {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid #D3D0E2 !important;
  height: 40px;
  color: #777;
  border-radius: 8px !important;
  background-color: #fff;
  background: #fff;
}
