<div class="auth-page">
  <div class="auth-form">
    <!-- step of login & forget -->
    <div class="card-auth" *ngIf="activeStep == 1">

      <div class="auth-title">
        <h2>{{'WelcomeBack'|translate}}!</h2>
        <p>{{'LogInToYourAccount'|translate}}</p>
      </div>

      <div class="card-form">
        <div class="" *ngIf="!showForgetPass">
          <div class="form-group">
            <label for="user" class="label">اسم المستخدم</label>
            <input id="user" type="text" class="form-control" [(ngModel)]="loginModel.userName">
          </div>
          <div class="form-group">
            <label for="pass" class="label">كلمة المرور</label>
            <input id="pass" type="password" class="form-control" [(ngModel)]="loginModel.password"
              data-type="password">
          </div>
          <div class="form-group">
            <button class="btn btn-forget" (click)="showForgetPass = !showForgetPass"> نسيت كلمة المرور ؟</button>
          </div>
          <div class="form-group">
            <br>
            <button type="submit" class="btn btn-auth" (click)="login()">تسجيل الدخول</button>
          </div>
          <div class="log">
            <a routerLink="/portal/register">تسجيل حساب جديد</a>
          </div>
        </div>
        <br>

        <div class="d-none1" *ngIf="showForgetPass">
          <div class="form-group">
            <label for="telephone" class="label">رقم الهاتف / اسم المستخدم</label>
            <input id="telephone" type="tel" class="form-control" [(ngModel)]="recoveryPhone">
          </div>
          <div class="form-group">
            <br>
            <button type="submit" [disabled]="loading" class="btn btn-auth" (click)="sendActivationCode()">
              <span *ngIf="loading" class="fa fa-spinner fa-spin mr-1"></span>
              اعادة تعيين كلمة المرور
            </button>
          </div>
          <div class="log">
            <a (click)="showForgetPass = !showForgetPass">رجوع </a>
          </div>
        </div>
      </div>
    </div>
    <!-- step of active code -->
    <div class="card-auth" *ngIf="activeStep == 2">
      <div class="">
        <br>
        <br>
        <div class="auth-title">
          <h2 class="">{{'ACTIVECODE'|translate}}!</h2>
          <br>
          <p class="">{{'PLEASEENTERTHEACTIVATIONCODEONPHONE'|translate}}</p>
          <br>
        </div>
        <br>

        <div class="card-form">
          <div class="row">
            <div class="form-group col-12">
              <label for="activationCode" class="">{{'ACTIVECODE'|translate}}*</label>
              <input id="activationCode" type="text" class="form-control" [formControl]="activationCode"
                [ngClass]="{ 'is-invalid': activationCode.errors && (activationCode.dirty || activationCode.touched), 'is-valid': !activationCode.errors }">
            </div>
            <div class="form-group col-12">
              <button type="submit" class="btn btn-auth" [disabled]="!activationCode.valid || loading"
                (click)="activateAccount()">
                <span *ngIf="loading"></span>
                {{'PO_ACTIVE'|translate}}
              </button>
            </div>
            <div class="form-group col-12">
              <div class="log">
                <a href="javascript:void(0)" (click)="activeStep = 1">{{'BACKTOLOGIN'|translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- step of active code -->
    <div class="login-html" *ngIf="activeStep == 3">
      <h2 class="text-white text-center my-3">اعادة تعيين كلمة المرور</h2>
      <p class="text-white text-center mb-3">برجاء ادخل كلمة المرور وتأكيد كلمة المرور</p>
      <form class="login-form" [formGroup]="passwordForm" (ngSubmit)="setNewPassword()"
        [matchValue]="['password', 'confirm_password']">
        <div class="sign-in-htm">
          <div class="group">
            <label for="pass" class="label">كلمة المرور</label>
            <input id="pass" type="password" class="input" formControlName="password"
              [ngClass]="{ 'is-invalid': f.password.errors && (f.password.dirty || f.password.touched), 'is-valid': !f.password.errors }">
          </div>
          <div class="group">
            <label for="cpass" class="label">تأكيد كلمة المرور</label>
            <input id="cpass" type="password" class="input" formControlName="confirm_password"
              [ngClass]="{ 'is-invalid': f.confirm_password.errors && (f.confirm_password.dirty || f.confirm_password.touched), 'is-valid': !f.confirm_password.errors }">
          </div>
          <div class="group">
            <!-- [disabled]="passwordForm.invalid || loading" -->
            <button type="submit" class="button">
              <span *ngIf="loading" class="fa fa-spinner fa-spin mr-1"></span>
              تعيين كلمة المرور
            </button>
          </div>
          <div class="group d-flex align-items-center justify-content-center">
            <a href="javascript:void(0)" (click)="activeStep = 1" class="text-white">عودة لتسجيل الدخول</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="slide">
    <img src="../../../../assets/images/Portal/Doc.png" alt="">
  </div>
</div>
